{% extends "base.html" %}
{% load static %}
{% block content %}
{% autoescape off %}
<head>
    <title>Доступность заказа товара</title>
</head>
<body>
    <p>Вы: {{user}}<p/>

    <p>Менеджер магазина: {{user_store}}<p/>

    <p>Продукты магазина:<p/>
    {% for product in products %}
    {{ product }}


        Название: {{product.title}} | Цена: {{product.price}} | Доступен: {{product.avaliable}}
<form  action="" method="post">
    {% csrf_token %}
    {{form}}
<button class="btn btn-primary mt-1 w-30" type="submit">Изменить</button>
</form>
</body>



    {% endfor %}
{% endautoescape %}
{% endblock %}