{% extends 'base.html' %}

{% block content %}

<div class="row mb-3 mt-4">
    <div class="col-md-1"></div>
    <!-- product content -->
    <div class="col-md-5 p-3 border rounded">
        <!-- category -->
        <div class="border-bottom mb-2 pb-2">
            <span class="text-muted ">Категория:</span><a class="text-decoration-none text-dark" href="{% url 'shop:filter_by_category' product.category.slug %}"> {{product.category}}</a>
        </div>
        <!-- title -->
        <h2>{{ product.title }}</h2>
        <!-- price -->
        <h4 class="mt-4 text-dark">Цена: ₽{{ product.price }}</h4>
        <!-- description -->
        <div class="mt-4 pe-3 mb-5">{{ product.description }}</div>


        <div class="border-bottom mb-2 pb-2">
            <span class="text-muted ">продавец:</span><a class="text-decoration-none text-dark{color: blue;}" href="{% url 'shop:filter_by_store' product.store.slug %}"> {{product.store}}</a>
        </div>
        <form  action="" method="post">
        {% csrf_token %}
            {{ avaliable }}
            <button class="btn btn-primary mt-1 w-30" type="submit">Изменить</button>
        </form>


        <p>Характеристики:</p>
            {% for position in products.positions.all %}

        <p>{{position.characteristic.name}}: {{position.characteristic.description}}</p>
            {% endfor %}
        <!-- cart btn -->
        <form method="post" action="{% url 'cart:add_to_cart' product.id %}">
            {% csrf_token %}
            {{ form }}
            <input type="submit" class="btn btn-primary mt-4" value="Положить в корзину">
        </form>
        <br>
        {% if favorites == 'remove' %}
        <a href="{% url 'shop:remove_from_favorites' product.id %}" class="btn btn-outline-danger mt-2 text-capitalize ">удалить из избранных </a>
        {% else %}
        <a href="{% url 'shop:add_to_favorites' product.id %}" class="btn btn-outline-danger mt-1  ">Добавить в избранные </a>
        {% endif %}
    </div>
    <!-- product image -->
    <div class="col-md-6">
        <img style="object-fit: cover;" class="rounded" src="{{ product.image.url }}" width="510" height="500">
    </div>
</div>
<!-- related products -->
<div class="row mt-4 mb-4">
    <h3>Возможно, Вам понравится:</h3><hr>
    {% for p in related_products %}
        <!-- dont show the current product in this page -->
        {% if p != product %}
            <div class="card me-2 mb-2" style="width: 16rem;">
                <img style="object-fit: cover;" class="card-img mt-2" width="268" height="200" src="{{ p.image.url }}">
                <div class="mt-3 text-center">
                <h5 class="card-title">{{ p.title }}</h5>
                <p class="text-muted">₽{{ p.price }}</p>
                <a href="{{ p.get_absolute_url }}" class="mb-3 btn btn-outline-primary w-100">подробнее</a>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}