{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}

{% block content %}

    <div  class="col-md-6">

        <form method="POST">

            <h3>Настройки профиля</h3>
            <hr>
            {% csrf_token %}
            {% bootstrap_form form %}

            <a href="/accounts/contact/">Изменить контакт и адрес</a>


            <div class="form-group">
                <button class="btn btn-primary mt-3 w-100" type="submit">Обновить информацию</button>

            </div>


        </form>

    </div>
{% endblock %}