{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="col-md-6">
        <form method="POST">
            {% csrf_token %}
            <h3>Создать учетную запись</h3>
            <hr>
            {{ form }}
            <div class="form-group">
                <button class="btn btn-primary w-100 mt-2" type="submit">подтвердить</button>
            </div>
        </form>
        <div class="mt-3">
            <small class="text-muted">
                Уже зарегистрированы? <a href="{% url 'accounts:user_login' %}">Войти</a>
            </small>
        </div>
    </div>
{% endblock %}